header
{
  background-color: #1C2833;
}

.img_logo {
    margin-right: float;
}

.header {
    align-items: center;
      width: 100%;
      display: flex;
}

.container {
    min-width: 960px;
    margin-top: 15px;
}

.wrapper {
    display: flex; 
    flex-wrap: nowrap;
}

.block_1 {
    flex-basis:33.33%; 
}

.block_2 {
    flex-basis:66.66%; 
}

.img_class_1 {
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
}
